.mainpg-div {
    margin: 15px;
}

.searchbar-div {
    margin: 5px;
    padding: 10px;
}

.search-bar {
    width: 97%;
    align-items: center;
    padding: 12px;
    border-radius: 10px;
    border: 5px solid rgb(93, 187, 255);
    font-size: 20px;
}

input,
select,
option {
    color: rgb(0, 82, 137);
}

input:focus {
    outline-color: rgb(93, 187, 255);
}