.singleStream-div {
    border: 2px solid rgb(93, 187, 255);
    margin: 10px;
    display: flex;
}

.singleStream-general {
    text-align: justify;
    margin: 8px;
}

.singleStreamImg-div {
    margin: 8px;
}

.singleStream-live {
    width: 12%;
    height: 12%;
}

.singleStream-offline {
    width: 5%;
    height: 5%;
    filter: brightness(0) invert(1);
}