.singleStream-div {
    border: 2px solid rgb(93, 187, 255);
    display: flex;
}

.singleStream-general {
    text-align: justify;
    /* margin: 8px; */
    /* background-color: red; */
}

.singleStreamImg-div {
    margin-top: 8px;
    margin-right: 0px;
    padding: 0;

}
.singleStream-img{
    height:150px;
    width:150px;
}
.singleStream-live {
    width: 12%;
    height: 12%;
}

.singleStream-offline {
    width: 5%;
    height: 5%;
    filter: brightness(0) invert(1);
}