.singleStream-div {
    border: 2px solid rgb(93, 187, 255);
    display: flex;

}

.singleStream-general {
    text-align: justify;
    margin: 5px;
    line-height: 4px;
}

.singleStreamImg-div {
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 0;
}

.singleStream-img {
    height: 150px;
    width: 150px;
}

.singleStream-live {
    width: 60px;
    height: 60px;
    margin-top: -15px;
    margin-bottom: -15px;
}

.singleStream-offline {
    width: 5%;
    height: 5%;
    filter: brightness(0) invert(1);
}